[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FluxSeparator"]
	path = FluxSeparator
	url = https://github.com/jonasstage/fluxseparator
